{% block ajax %}
    $(document).ready(function(){
        TableShow = function(){
            table = $('#show_data').on('preXhr.dt', function(e, settings, data){
                {% comment %} Loading {% endcomment %}
            })
            .on('draw.dt', function(){
                {% comment %} Finish reload {% endcomment %}
            })
            .DataTable({
                "columnDefs":[
                {width:"1%","targets":0, className:"text-end", "orderAble":false},
                {width:"30%","targets":0, className:"text-end", "orderAble":false},
                {width:"30%","targets":0, className:"text-end", "orderAble":false},
                {width:"30%","targets":0, className:"text-end", "orderAble":false},
                ],
                "pageLength": 5,
                "processing": true,
                "serverSide": true,
                "serverMethod": "GET",
                "ajax":{
                    'url':"/select"
                    'dataType': 'json',
                    'type': 'GET'
                },
                'columns':[
                    {'data' : '#'},
                    {'data' : 'Cust_Code'},
                    {'data' : 'Cust_Name'},
                    {'data' : 'Action'},
                ]
            })
        }
        TableShow();
    })
{% endblock ajax %}
