{% extends "/layout/index.html" %}
{% set title = "Landing Page" %}
{% block content %}

{% include "nav.html" %}
{% block nav %}

{% endblock %}
{# Relative agar animasi berjalan dengan baik #}
<div style="position: relative;">
    <!-- Header -->
    <header class="text-center bg-img text-white py-5 mt-5">
        {# <h1 class="font-weight-bolder head-anim">Test</h1> #}
        <div class="font-weight-bold head-anim">Halo {{name}}</div>
    </header>
    
    {# <section class="py-1">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="/?page=1">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
              <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
              <li class="page-item"><a class="page-link" href="/?page=3">3</a></li>
              <li class="page-item"><a class="page-link" href="/?page=2">Next</a></li>
            </ul>
          </nav>
    </section> #}
    <!-- section -->
    {# {{ data|json_encode()|raw }} #}
    <section class="py-5">
        <button type="button" class="btn btn-primary" data-bs-target="#insert" data-bs-toggle="modal">Insert</button>
        <div class="container d-flex justify-content-center">
           
            {% include "table1.html" %}
            {% block table1 %}
                
            {% endblock table1 %}
            

            <!-- animasi kotak -->
            <ul class="circles">
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
                <li class="kotak"></li>
            </ul>
        </div>
    </section>
</div>

{# <nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" <?php if($halaman > 1){ echo "href='?halaman=$Previous'"; } ?>>Previous</a>
        </li>
        <?php 
        for($x=1;$x<=$total_halaman;$x++){
            ?> 
            <li class="page-item"><a class="page-link" href="?halaman=<?php echo $x ?>"><?php echo $x; ?></a></li>
            <?php
        }
        ?>				
        <li class="page-item">
            <a  class="page-link" <?php if($halaman < $total_halaman) { echo "href='?halaman=$next'"; } ?>>Next</a>
        </li>
    </ul>
</nav> #}

<!--  -->

</div>

{% include "footer.html" %}
{% block footer %}

{% endblock %}
<!-- modal -->
    
{% include "modal.html" %}
{% block modal %}
    
{% endblock %}
{#  #}

{% if hasLogin == true %}
<script>
    var name = {{ name| json_encode() | raw }}
    Swal.fire({
        title: 'Selamat Datang ' + name,
        icon: 'success'
    })
</script>
{# {% elseif spesific == true %} #}

{% endif %}

{% endblock content %}