{% block insert_js %}
const insertTitle = insert.querySelector('#judul')
const idcust = insert.querySelector('#id_CUST')
const insertId = insert.querySelector('#insert_id')
const insertName = insert.querySelector('#insert_fullname')
const insert_workingArea = insert.querySelector('#insert_workingArea')
const insert_country = insert.querySelector('#insert_country')
const insert_grade = insert.querySelector('#insert_grade')
const insert_openingAMT = insert.querySelector('#openingAMT')
const insert_receiveAMT = insert.querySelector('#receiveAMT')
const insert_paymentAMT = insert.querySelector('#paymentAMT')
const insert_outstandingAMT = insert.querySelector('#outstandingAMT')
const insert_phone = insert.querySelector('#insert_phone')
const insert_agent = insert.querySelector('#insert_agent')

{# agent select #}
{# var select = document.getElementById('cust_agent'); #}
{# console.log({{ agent|json_encode|raw }}) #}
var agent = {{ agent|json_encode|raw }}
var count = Object.keys(agent).length;
console.log(agent)

for (var i = 0; i < count; i++){
    var opt = document.createElement('option');
    opt.value = agent[i].AGENT_CODE;
    opt.innerHTML = agent[i].AGENT_NAME;
    insert_agent.appendChild(opt);
}
{% endblock insert_js %}