{% block modal %}
{% include "modal_viewMore.html" %}
{% block viewMore %}
  
{% endblock viewMore %}
{% include "modal_edit.html" %}
{% block edit %}
  
{% endblock edit %}
{% include "modal_insert.html" %}
{% block insert %}
  
{% endblock insert %}

<script>
  // popover setup
  
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

  // setup autofocus
  const editModal = document.getElementById('edit')
  const myInput = document.getElementById('edit_fullname')
  const insertModal = document.getElementById('insert')
  const insertInput = document.getElementById('insert_id')

  editModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
})
  insertModal.addEventListener('shown.bs.modal',() =>{
    insertInput.focus()
  })
  

  // Setup modal viewMore
  const viewMore = document.getElementById('viewMore')

  // Setup modal edit
  const edit = document.getElementById('edit')
  // const editConfirm = document.getElementById('editConfirm')
  //setup modal insert
  const insert = document.getElementById('insert')
  
  //listener insert modal
  insert.addEventListener('show.bs.modal',event=>{
    
    const button = event.relatedTarget
    $(document).ready(function(e){
      // console.log('asu');
      {% include "modal_insert_js.html" %}
      {% block insert_js %}
        
      {% endblock %}
      $('#insertForm').submit(function (e) { 
        // e.preventDefault();
        console.log('asu');
        $.ajax({
          type: "POST",
          url: "/insert",
          data: {
            cust_id: $('#insert_id').val(),
            cust_fullname: $('#insert_fullname').val(),
            cust_workingArea: $('#insert_workingArea').val(),
            cust_country: $('#insert_country').val(),
            grade: $('#insert_grade').val(),
            openingAMT: $('#insert_openingAMT').val(),
            receiveAMT: $('#insert_receiveAMT').val(),
            paymentAMT: $('#insert_paymentAMT').val(),
            outstandingAMT: $('#insert_outstandingAMT').val(),
            cust_phone: $('#insert_phone').val(),
            cust_agent: $('#insert_agent').val(),
          },
          success: function (response) {
            Swal.fire({
              icon: 'success',
              title: 'Data berhasil diedit',
              showConfirmButton: false,
              timer: 1500
            })
            .then(function () {
              console.log('asu');
              $('#insert').modal('hide')
              table.draw(false)
            })
          }
        });
      });
    })
  })
  // add listener
  viewMore.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    const id = button.getAttribute('data-bs-whatever')    
    console.log(id)
    $(document).ready(function (e) {
      // e.preventDefault();
      
      $.ajax({
        type: "GET",
        url: '/' + id + '/select',
        success: function (response) {
          if (response) {
            // console.log(response)
            {% include "modal_viewMore_js.html" %}
            {% block viewMore_js %}
              
            {% endblock %}
            // Edit
            {% include "modal_edit_js.html" %}
            {% block edit_js %}
              
            {% endblock %}
            // console.log('asu')    
            $('#editForm').submit(function (e) { 
              e.preventDefault();
              console.log('asu')
              // console.log(e);
              $.ajax({
                type: "POST",
                url: "/edit",
                data: {
                  id: $('#id_CUST').val(),
                  cust_id: $('#edit_id').val(),
                  cust_fullname: $('#edit_fullname').val(),
                  cust_workingArea: $('#edit_workingArea').val(),
                  cust_country: $('#edit_country').val(),
                  grade: $('#edit_grade').val(),
                  openingAMT: $('#openingAMT').val(),
                  receiveAMT: $('#receiveAMT').val(),
                  paymentAMT: $('#paymentAMT').val(),
                  outstandingAMT: $('#outstandingAMT').val(),
                  cust_phone: $('#edit_phone').val(),
                  cust_agent: $('#edit_agent').val(),
                },
                success: function (response) {
                  console.log(response)
                  Swal.fire({
                    icon: 'success',
                    title: 'Data berhasil diedit',
                    showConfirmButton: false,
                    timer: 1500
                  })
                  .then(function () {
                    $('#edit').modal('toggle')
                    table.draw(false)

                  })
                }
              });
            });
          } else {
            Swal.fire(
              'Error!',
              'SQL has an error',
              'error'
            )
          }
        }
      });
    })
  })
  function toggleModal(){
    $('#viewMore').modal('toggle');
  }
  
</script>
{% endblock modal %}